{% extends "base.html" %}
{% block content %}
<h1 class="hexamples gradient-text">Здесь Вы можете ознакомиться с примерами работ</h1>
<a href="https://store.steampowered.com/app/413150/Stardew_Valley/"><img class="example1" src="{{ url_for('static', filename='example1.jpg') }}" alt="example1"></a>
<a href="https://store.steampowered.com/app/1868140/DAVE_THE_DIVER/"><img class="example2" src="{{ url_for('static', filename='example2.jpg') }}" alt="example2"></a>
<a href="https://store.steampowered.com/app/1244090/Sea_of_Stars/"><img class="example3" src="{{ url_for('static', filename='example3.png') }}" alt="example3"></a>
<a href="https://store.steampowered.com/app/1206560/WorldBox__God_Simulator/"><img class="example4" src="{{ url_for('static', filename='example4.jpg') }}" alt="example4"></a>
<a href="https://store.steampowered.com/app/504230/Celeste/"><img class="example5" src="{{ url_for('static', filename='example5.jpg') }}" alt="example5"></a>
<a href="https://store.steampowered.com/app/2334730/Death_Must_Die/"><img class="example6" src="{{ url_for('static', filename='example6.jpg') }}" alt="example6"></a>


{% endblock %}
