{% extends "base.html" %}
{% block content %}
    <a href="https://vk.com/assacace"><img class="savva" src="{{ url_for('static', filename='savva.jpg') }}" alt="картиночка"></a>
<h1 class="full_name">Николаев<br> Савва <br> </h1>
<div class="container-fluid" >
    <p class="text-description">Добро пожаловать! Меня зовут Савва Николаев, и я только начинаю свой путь в геймдеве.

        <br>С самого детства я увлекался играми, и всегда мечтал создать свою собственную. Я люблю придумывать новые миры и истории, и мне нравится видеть, как люди взаимодействуют с моими играми.

        <br>Я считаю, что игры - это мощный инструмент, который может вдохновлять, обучать и объединять людей. Я хочу создавать игры, которые будут приносить радость и пользу игрокам.

        <br>Я еще многому учусь, но я очень мотивирован и увлечен своим делом. Я уверен, что смогу создать игры, которые будут любимы людьми во всем мире.

        <br>Здесь вы найдете мои проекты, созданные с любовью и вниманием к деталям. Я верю, что в играх важно сочетание увлекательного игрового процесса, красивой графики и интересной истории. Именно этому я уделяю особое внимание в своей работе.

        <br>Я всегда открыт для новых идей и сотрудничества. Если вы хотите помочь мне воплотить мою мечту в реальность, я буду рад вам.

        <br>Присоединяйтесь ко мне в этом увлекательном путешествии по созданию современных и инновационных игр. Давайте вместе делать мир ярче и интереснее!</p>
</div>
<div class="facts">
    <ul>
        <li>Зовут Савва Николаев</li>
        <li>Возраст 19 лет</li>
        <li>Начинающий геймдев разработчик</li>
        <li>Игры - мощный инструмент</li>
        <li>Хочу создавать игры, которые будут приносить радость и пользу игрокам</li>
    </ul>
</div>
{% endblock %}
